#root-container {
    display: flex;
    flex-direction: row;
}

#eeg-container {
    display: flex;
    flex-direction: column;
}

#others-container {
    display: flex;
    flex-direction: column;
}

.eeg-chart {
    height: 10vh;
    width: 80vw;
    position: relative;
}

.gsr-chart,
.ppg-chart {
    height: 15vh;
    width: 20vw;
    position: relative;
}

.title {
    font: bold 1.2em;
    margin: 0.3em;
}
